
	<!-- BootstrapのJavaScriptよりも、jQueryを先に読み込む -->
	<!-- jQuery読み込み -->
	<script type="text/javascript"  src="/stat/js/lib/jquery-2.2.3.min.js"></script>
	<!-- BootstrapのJS読み込み -->
	<script src="/stat/js/lib/bootstrap.min.js"></script>
	<script src="/stat/js/lib/jquery.mousewheel.min.js"></script>
	
	<script tyle="text/javascript" src="/stat/js/test.js"></script>
	<script tyle="text/javascript" src="/stat/js/resizeEvent.js"></script>
	<script tyle="text/javascript" src="/stat/js/loadEvent.js"></script>

	<script src="https://www.youtube.com/iframe_api"></script>

</body>
</html>
