<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- これはInternetExplorerのブラウザではバージョンによって崩れることがあるので、互換表示をさせないために設定するmetaタグです。 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- これはレスポンシブWebデザインを使うために必要なmetaタグです。 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YouTube Stream Multi Script</title>
	<!-- BootstrapのCSS読み込み -->
	<link href="/stat/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<header style="background-color:white">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8"> 
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li> 
					<li><a href="/list">一覧</a></li> 
					<li><a href="#">Link</a></li> 
				</ul> 
			</div> 
		</div> 
	</nav>
</header>
